@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

::selection {
    background: #00ff00;
    color: black;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
    height: 100vh;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.932);
    cursor: url('images/icons8-3d-pointer-30.png'), auto;
}
/* Navbar */

.navbar {
    width: 100%;
    height: auto;
    padding: 15px 0;
    animation: fadeInDown 2s ease-out;
    animation-fill-mode: forwards;
    z-index: 1000;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.active{
    color: #00FF00;
}

.navbar ul {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: "Smooch Sans", serif;
    font-weight: 600;
    font-style: normal;
}
.gray{
    color: gray;
}
.register-nav{
    color: white;
    padding: 10px 20px;
    border: 1px solid #00ff00;
    border-radius: 15px;
}
.nav:hover {
    color: white;
    text-shadow: 0 0 20px white, 0 0 50px white, 0 0 80px white;
    transform: scale(1.1);
}
.register-nav:hover {
    background-color: #00ff00;
    color: black;
    box-shadow: 0 0  15px #00ff00;
}

/* Button */
.register .button {
    display: inline-block;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 24px 48px;
    border-radius: 25px;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #00ff00;
    font-family: "Smooch Sans", serif;
    font-weight: 500;
    font-style: normal;
    backdrop-filter: blur(5px);
    animation: fadeInDown 4s ease-out;
    animation-fill-mode: forwards;
}

.register .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 255, 0, 0.4);
    background: linear-gradient(45deg, #00ff00, #003300);
}

.register .button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(107, 44, 245, 0.2);
}
@media all and (max-width: 1280px) {
    .navbar ul {
        justify-content: center;
    }
    .navbar ul li {
        padding: 8px;
    }
    .navbar ul li a {
        font-size: 28px;
    }
    .register-nav {
        padding: 8px 16px;
    }
    .register .button {
        padding: 16px 32px;
        font-size: 2rem;
    }
}
@media all and (max-width: 768px) {
    .navbar ul {
        justify-content: center;
    }
    .navbar ul li {
        padding: 5px;
    }
    .navbar ul li a {
        font-size: 24px;
    }
    .register-nav{
        padding: 5px 10px;
    }
    .register .button {
        padding: 12px 24px;
        font-size: 1.5rem;
    }
}



/* Timer */
.timer{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    animation: fadeInDown 4s ease-out;
    animation-fill-mode: forwards;
}
  .timer .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
  
  .timer h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: -20px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .timer li {
    display: inline-block;
    font-size: 2.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    font-family: "Smooch Sans", serif;
    font-weight: 300;
  }
  
  .timer li span {
    display: block;
    font-size: 4.5rem;
    font-family: "Smooch Sans", serif;
    font-weight: 600;
  }
   
@media all and (max-width: 1280px) {
    .timer {
        height: 50vh;
        margin-bottom: -5vh;
    }
    .timer h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .timer li {
        font-size: 20px;
    }
    .timer li span {
        font-size: 48px;
    }
    .register button {
        margin-top: 30px;
    }
}

@media all and (max-width: 768px) {
    .timer {
        height: 45vh;
        margin-bottom: -8vh;
    }
    .timer h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .timer li {
        font-size: 16px;
    }
    .timer li span {
        font-size: 40px;
    }
    .register button {
        margin-top: 40px;
    }
}

/* Game-line */
.game-line {
    margin-top: 10vh;
    width: 100%;
    overflow: hidden;
    background: rgba(128, 128, 128, 0.1);
    padding: 20px 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(66, 62, 62, 0.2);
    animation: fadeIn 15s ease-out;
    animation-fill-mode: forwards;

}

.game-line li {
    display: flex;
    gap: 50px;
    animation: scroll 20s linear infinite;
    list-style: none;
}
.game-line li img {
height: 50px;
width: auto;
object-fit: contain;
}
.gl-logo {
    height: 50px;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.3s ease;
}

.gl-logo:hover {
    filter: grayscale(0%);
    opacity: 1;
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@media all and (max-width: 1280px) {
    .gl-logo {
        height: 25px;
        filter: grayscale(0%);
    }
    .game-line li {
        gap: 40px;
    }
    .game-line {
        margin-top: 1vh;
    }
    @keyframes scroll {
        0% { transform: translateX(200%); }
        100% { transform: translateX(-200%); }
    }
}

@media all and (max-width: 768px) {
    .gl-logo {
        height: 30px;
        filter: grayscale(0%);
    }
    .game-line li {
        gap: 30px;
    }
    .game-line {
        margin-top: 15vh;
    }
    @keyframes scroll {
        0% { transform: translateX(325%); }
        100% { transform: translateX(-325%); }
    }
}

/* Brand Logos */
.brand-logos img{
    height: 80px;
    width: auto;;
    transition: all 0.3s ease;
    margin: 50px auto;
    display: block;
    animation: fadeInDown 6s ease-out;
    animation-fill-mode: forwards;
}
@media all and (max-width: 1280px) {
    body {
        background-size: 600px;
        background-blend-mode: luminosity;
    }
    .brand-logos img {
        height: 50px;
        padding: 20px 15px;
        border-radius: 10px;
    }
    .brand-logos img:hover {
        transform: scale(1.1);
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
        box-shadow: #4b838d 0 0 15px;
    }
}


@media all and (max-width: 768px) {
    body{
        background-size:400px;
        background-blend-mode: luminosity;

    }
    .brand-logos img{
        
        height: 50px;
        padding: 15px 10px;
        border-radius: 5px;
        background-color: #29438b;
    }
    .brand-logos img:hover{
        transform: scale(1.1);
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
        box-shadow: #4b838d 0 0 15px;

    }
}

/* BG IMG */
.bg-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 40%;
    height: auto;
    max-width: 650px;
    min-width: 500px;
    animation: fadeIn 20s ease-out;
    animation-fill-mode: forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
}

@media screen and (max-width: 768px) {
    .bg-img {
        overflow: hidden;
        width: 80%;
        min-width: 320px;
        left: 55%;
        transform: translateX(-50%);
        filter: grayscale(100%);
        }
}

@media screen and (max-width: 480px) {
    .bg-img {
    overflow: hidden;
    width: 80%;
    min-width: 320px;
    left: 55%;
    transform: translateX(-50%);
    filter: grayscale(100%);
    }
}
/* Register.html */
iframe{
    width: 100%;
    height: 85vh;
    border: none;
    animation: fadeIn 15s ease-out;
    animation-fill-mode: forwards;
}
/* about.html */
.about, .contact{
    width: 50%;
    height: auto;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 22vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    background-color: #6e63632c;
    padding:20px;
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);

}
.about{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    animation: fadeInDown 4s ease-out;
    animation-fill-mode: forwards;
}
.contact{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    animation: fadeInDown 4s ease-out;
    animation-fill-mode: forwards;
}
.about h2, .contact h2{
    font-size: 3.5rem;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}
.about p, .contact p{
    font-size: 2rem;
    font-family: "Smooch Sans", serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 40px;
}
.contact a{
    color: white;
    text-decoration: none;
}
.contact a:hover{
    color: #0f0;
}

@media all and (max-width: 1280px){
    .about, .contact{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .about{
        text-align: justify;
        margin-top: 20vh;
    }
    .contact{
        margin-top: 20vh;
    }
    .about h2, .contact h2{
        font-size: 2.5rem;
        font-weight: 300;
    }
    .about p, .contact p{
        font-size: 1.5rem;
        font-weight: 200; 
    }
}

@media all and (max-width: 768px){
    .about, .contact{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .about{
        text-align: justify;
        margin-top: 20vh;
    }
    .contact{
        margin-top: 20vh;
    }
    .about h2, .contact h2{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .about p, .contact p{
        font-size: 1rem;
        font-weight: 100; 
    }
}

